.ShopCategory {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 50px;
    
    align-items: center;
}

.ShopCategory  img{
    width: 1024px;
    height: ;
}