.navbar{
    display: flex;
    justify-content: space-around;
    padding: 16px;
    box-shadow: 0 1px 3px -2px black;
    z-index: 9999;
    
}
.nav-logo{
    display: flex;
    align-items: center;
    gap: 10px;
}

.nav-logo p {
    columns: #171717;
    font-size: 28px;
}

.nav-menu{
    display: flex;
    align-items: center;
    gap: 50px;
    list-style: none;
    color: #626262;
    font-size: 20px;
    font-weight: 500;
}
.nav-menu li{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    grid:3px;
    cursor: pointer;

}

.nav-menu hr{
border: none;
width: 80%;
height: 3px;
border-radius: 10px;
background: #f56200;
}

.nav-login-cart {
    display: flex;
    align-items: center;
    gap: 45px;
}

.nav-login-cart button{
    width: 140px;
    height: 38px;
    outline: none;
    border: 1px solid #7a7a7a;
    color: #515151;
    border-radius: 75px;
    font-weight: 500;
    background: white;
    cursor: pointer;
    font-family: 'Poppins';
}

.nav-login-cart button:active{
    background: #f3f3f3;
}

.nav-cat-count{
    display: flex;
    height: 22px;
    width: 22px;
    justify-content: center;
    align-items: center;
    margin-top: -35px;
    margin-left: -55px;
    border-radius: 11px;
    font-size: 14px;
    background: #f56200;
    color: white;
    

}




.cart-logo{
    width: 50px;
    height: 50px;
    background: rgb(255, 208, 155);
}

.shopper-logo{
width: 100px;
height: 100px;
}


@media screen  and (max-width:600px){

    .navbar{
    display: flex;
    justify-content: space-evenly;
    padding: 8px;
    
    
}
.nav-logo{
    
    gap: 3px;
}

.nav-logo p {
    columns: #171717;
    font-size: 18px;
}
    .nav-menu{
        display: none;    }

 .nav-login-cart {
    
    gap: 5px;
}

.nav-login-cart button{
    width: 100px;
    height: 27px;
    border-radius: 25px;
   
}

.nav-cat-count{
    display: flex;
    height: 20px;
    width: 20px;
    justify-content: center;
    align-items: center;
    margin-top: -50px;
    margin-left: -27px;
    border-radius: 11px;
    font-size: 10px;
    
}

.cart-logo{
    width: 35px;
    height: 35px;
    
}

.shopper-logo{
width: 60px;
height: 60px;
}


}
